:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
  --header-links: #9ca3af;
  --main-header-link: #fff;
  --backround-color: #020617;
  --bg-dark-color: #111827;
  --title-color: #f3f4f6;
  --span-color: #eab308;
  --desc-color: #6b7280;
  --btn-color:#facc15;
  --btn-link-color: #000;
  --date-color: #d1d5db;
  --items-color: #1F2937;
}
