* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--blanco);
}

li {
  list-style: none;
}

:root {
  --font-family: "Lexend Deca", sans-serif;
  --second-family: "Arvo", sans-serif;
  --header-links: #9ca3af;
  --main-header-link: #fff;
  --backround-color: #020617;
  --bg-dark-color: #111827;
  --title-color: #f3f4f6;
  --span-color: #eab308;
  --desc-color: #6b7280;
  --btn-color:#facc15;
  --btn-link-color: #000;
  --date-color: #d1d5db;
  --items-color: #1F2937;
}

html {
  font-size: 1px;
}
@media (max-width: 768px) {
  html {
    font-size: 0.9px;
  }
}
@media (max-width: 592px) {
  html {
    font-size: 0.8px;
  }
}

body {
  font-size: 16rem;
  font-family: var(--font-family);
  background: var(--backround-color);
  color: var(--main-header-link);
}

.container {
  padding: 0 20rem;
  max-width: 1166rem;
  margin-inline: auto;
}

.bg-dark {
  background: var(--bg-dark-color);
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 42rem;
  line-height: 152%;
  color: var(--title-color);
  margin-bottom: 24rem;
}
.title span {
  color: var(--span-color);
}

.desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--desc-color);
  max-width: 461px;
}

.text-center {
  text-align: center;
}

.mx-auto {
  margin-inline: auto;
}

.service {
  padding: 96rem 0;
}

.service-list {
  margin-top: 59rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30rem;
}
@media (max-width: 592px) {
  .service-list {
    grid-template-columns: 1fr;
  }
}

.service-item {
  padding: 32rem;
  background: #020617;
  border-radius: 12rem;
  text-align: center;
}
.service-item__img {
  width: 40rem;
  height: 40rem;
  margin-inline: auto;
  margin-bottom: 32px;
  color: #EAB308;
}
.service-item__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 26rem;
  line-height: 158%;
  text-align: center;
  color: #f3f4f6;
  margin-bottom: 16px;
  max-width: 204px;
  margin-inline: auto;
}
.service-item__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  text-align: center;
  color: #6b7280;
}

.portfolio {
  padding: 96rem 0;
}

.portfolio-list {
  margin-top: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 29rem;
}
@media (max-width: 592px) {
  .portfolio-list {
    grid-template-columns: 1fr 1fr;
  }
}

.portfolio-item img {
  width: 100%;
}
@media (min-width: 1292px) {
  .portfolio-item:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 27rem;
}
@media (max-width: 1100px) {
  .header__links {
    z-index: 4;
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 289rem 0;
    -webkit-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  #headerIcon:checked ~ .header__links {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-about-me {
  margin: 16rem 0;
  font-size: 24rem;
}

.header-link {
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  text-transform: uppercase;
  color: var(--header-links);
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}
.header-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--main-header-link);
}

.home {
  color: var(--main-header-link);
}

.header-menu {
  display: none;
}
@media (max-width: 1100px) {
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#headerIcon {
  display: none;
}

.welcome__container {
  padding-top: 96rem;
  padding-bottom: 96rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 592px) {
  .welcome__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.welcome__greeting {
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--span-color);
  margin-bottom: 24rem;
}
.welcome__name {
  font-weight: 700;
  font-size: 42rem;
  line-height: 152%;
  color: var(--title-color);
  margin-bottom: 8rem;
}
.welcome__description {
  max-width: 466rem;
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--desc-color);
  margin-bottom: 24rem;
}
.welcome__btn {
  background-color: var(--btn-color);
  border-radius: 4rem;
  padding: 8rem 20rem;
  max-width: 123rem;
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}
.welcome__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 592px) {
  .welcome__btn {
    margin-bottom: 30rem;
  }
}
.welcome__btn-link {
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--btn-link-color);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}
.welcome__btn-link:hover {
  color: var(--title-color);
}

.about__image {
  max-width: 475rem;
  border-radius: 24rem;
  position: relative;
  margin-bottom: 37rem;
}
.about__description {
  margin-bottom: 40rem;
}
.about__desc {
  max-width: 509rem;
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--desc-color);
}
.about__container {
  max-width: 1166rem;
  padding-left: 35rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 89rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96rem;
  margin-bottom: 96rem;
}
@media (max-width: 768px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__btn {
  border-radius: 4rem;
  padding: 16rem 20rem;
  max-width: 124rem;
  background: var(--span-color);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}
.about__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.about__btn-link {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--btn-link-color);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}
.about__btn-link:hover {
  color: var(--title-color);
}

.about-me-img {
  border-radius: inherit;
  z-index: 2;
  position: relative;
}

.image-backdrop {
  position: absolute;
  border: 16px solid var(--span-color);
  border-radius: 24rem;
  width: 100%;
  height: calc(100% + 27rem);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  bottom: -37rem;
  left: -35rem;
}

.above {
  margin-bottom: 18px;
}

.experience {
  padding-top: 85rem;
}
.experience__desc {
  max-width: 730rem;
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--header-links);
  padding-bottom: 80rem;
}
@media (max-width: 1100px) {
  .experience__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.experience__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 85rem;
}
@media (max-width: 1100px) {
  .experience__info {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30rem;
  }
}
@media (max-width: 768px) {
  .experience__info {
    display: grid;
    grid-template-columns: auto;
    gap: 30rem;
  }
}

.preferences {
  max-width: 366rem;
  border-radius: 12rem;
  padding: 32rem;
  background: var(--backround-color);
  max-height: 303rem;
}
.preferences__date {
  font-weight: 400;
  font-size: 20rem;
  line-height: 135%;
  color: var(--date-color);
  margin-bottom: 8rem;
}
.preferences__main {
  font-weight: 700;
  font-size: 26rem;
  line-height: 158%;
  color: var(--span-color);
  margin-bottom: 4rem;
}
.preferences__title {
  font-weight: 700;
  font-size: 16rem;
  line-height: 169%;
  color: var(--date-color);
}
.preferences__desc {
  padding: 8rem;
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--desc-color);
}

.large {
  max-width: 336rem;
  max-height: 322rem;
}

.large-desc {
  padding: 8rem 0 0 0;
}

.experience-title {
  font-family: var(--second-family);
}

.contact {
  padding-bottom: 96rem;
}
.contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 96rem;
  margin-bottom: 56rem;
}
.contact__main {
  max-width: 685rem;
}
.contact__desc {
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--header-links);
}
.contact__info {
  padding: 16rem 0 13rem 0;
  max-width: 347rem;
  font-weight: 400;
  color: var(--title-color);
}
.contact__span {
  font-weight: 700;
  font-size: 16rem;
  line-height: 256%;
  color: var(--span-color);
}
.contact__paragraph {
  margin-top: 16rem;
}
.contact__btn {
  border-radius: 4rem;
  padding: 16rem 20rem;
  max-width: 123rem;
  background: var(--span-color);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}
.contact__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.contact__btn-link {
  font-weight: 400;
  font-size: 16rem;
  line-height: 169%;
  color: var(--btn-link-color);
}
.contact__btn-link:hover {
  color: var(--title-color);
}
.contact__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 592px) {
  .contact__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.field {
  display: block;
  position: relative;
  margin-bottom: 30rem;
}
.field__input {
  min-height: 63rem;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: var(--span-color);
  background: #1f2937;
  padding: 11rem 18rem;
  outline: none;
  border: none;
  resize: vertical;
  overflow: hidden;
}
.field__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: var(--title-color);
}
.field__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: var(--title-color);
}
.field__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: var(--title-color);
}
.field__input::placeholder {
  font-weight: 400;
  font-size: 16rem;
  line-height: 256%;
  color: var(--title-color);
}

.contact-form {
  width: 48.6%;
}
@media (max-width: 592px) {
  .contact-form {
    width: 100%;
  }
}

.message {
  min-height: 166rem;
  max-height: 300rem;
}

.ending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ending__title {
  text-align: center;
  margin-top: 56rem;
}
.ending__desc {
  text-align: center;
  max-width: 685rem;
  margin-bottom: 56rem;
}
.ending__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 56rem;
}
.ending__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 16rem;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.ending__img {
  color: var(--items-color);
  -webkit-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
}
.ending__img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: var(--span-color);
}

.main-ending-link {
  color: var(--span-color);
}
