.service {
	padding: 96rem 0;
}

.service-list {
	margin-top: 59rem;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	gap: 30rem;
	@include mobile {
		grid-template-columns: 1fr;
	}
}

.service-item {
	padding: 32rem;
	background: #020617;
	border-radius: 12rem;
	text-align: center;

	&__img {
		width: 40rem;
		height: 40rem;
		margin-inline: auto;
		margin-bottom: 32px;
		color: #EAB308;
	}

	&__title {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 26rem;
		line-height: 158%;
		text-align: center;
		color: #f3f4f6;
		margin-bottom: 16px;
		max-width: 204px;
		margin-inline: auto;
	}

	&__desc {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16rem;
		line-height: 169%;
		text-align: center;
		color: #6b7280;
	}
}
