.welcome{
    &__container{
        padding-top: 96rem;
        padding-bottom: 96rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile{
            flex-direction: column;
        }
    }

    &__greeting{
        font-weight: 400;
        font-size: 16rem;
        line-height: 169%;
        color: var(--span-color);
        margin-bottom: 24rem;
    } 

    &__name{
        font-weight: 700;
        font-size: 42rem;
        line-height: 152%;
        color: var(--title-color);
        margin-bottom: 8rem;
    }

    &__description{
        max-width: 466rem;
        font-weight: 400;
        font-size: 16rem;
        line-height: 169%;
        color: var(--desc-color);
        margin-bottom: 24rem;
    }

    &__btn{
        background-color: var(--btn-color);
        border-radius: 4rem;
        padding: 8rem 20rem;
        max-width: 123rem;
        transition: .2s all ease-in-out;

        &:hover{
            transform: scale(1.1); 
        }

        @include mobile{
            margin-bottom: 30rem;
        }
    }

    &__btn-link{
        font-weight: 400;
        font-size: 16rem;
        line-height: 169%;
        color: var(--btn-link-color);
        transition: .2s all ease-in-out;

        &:hover{
            color: var(--title-color);
        }
    }
}